<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
</head>
<body>
	<h2><%=title%></h2>
	<form action="/user/update" method='post'>
		<input type="hidden" value="<%=data[0].id%>" name="id">
		<label for="name">姓名</label>
		<input type="text" name="name" id="name" value="<%=data[0].name%>">
		<br>
		<label for="chinese">语文</label>
		<input type="text" name="chinese" id="chinese" value="<%=data[0].chinese%>">
		<br>
		<label for="math">数学</label>
		<input type="tex" name="math" id="math" value="<%=data[0].math%>">
		<br>
		<label for="english">英语</label>
		<input type="text" name="english" id="english" value="<%=data[0].english%>">
		<input type="submit" value="提交">
	</form>
</body>
</html>